<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:if="${isOwner}">
        <!-- Step Creation -->
        <h2>Add a new Step</h2>
        <form th:object="${step}" th:action="@{/recipes/new/step}" method="post">
            <input type="text" th:field="*{stepDescription}"/>
            <input type="hidden" th:field="*{stepNumber}" th:value=1/>
            <input type="hidden" name="recipeId" th:value="${recipe.getId()}"/>
            <input type="submit" value="Submit"/>
        </form>

        <!-- Ingredient Creation -->
        <h2>Add a new Ingredient</h2>
        <form th:object="${ingredient}" th:action="@{/ingredient/new}" method="post">
            <input type="text" th:field="*{name}"/>
            <input type="text" th:field="*{amount}"/>
            <input type="hidden" name="recipeId" th:value="${recipe.getId()}"/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <h1 th:text="${recipe.getTitle()}"></h1>
    <div>
        <p th:text="${recipe.description}"></p>
    </div>


</body>
</html>